.wrapper {
  display: flex;
}

.side-bar {
  background-color: #b9cbc1;
  width: 300px;
  height: 100vh;
}

.side-bar-header {
  height: 200px;
  width: 100%;
  padding: 0 1000px;
  background-color: #b9cbc1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-name a{
  font-size: 16px;
  color: #FAFAFA;
  text-decoration: none;
}

.form {
  background-color: white;
  height: 90px;
  padding: 20px 40px;
  display: flex;
}

.form-input {
  background-color: white;
  display: flex;
  width: 100%;
}

.form-message {
  border: none;
  height: 50px;
  width: 100%;
  padding-left: 10px;
}

.form-submit {
  background-color: #38AEF0;
  border: none;
  color: white;
  font-size: 16px;
  height: 50px;
  margin-left: 15px;
  padding: 0 20px;
}

.form-image {
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}

.hidden {
  display: none;
}

.inner {
  display: flex;
}

.greeting {
  margin-top: 150px;
  float: right;
  padding: 0 50px;
}

.greeting__link{
  text-decoration: underline;
  color: #333;
}

.greeting-logout {
  margin-top: 150px;
}

.greeting-logout li {
  list-style-type: none; /* リストスタイルを非表示に */
  margin: 0;            /* 不要な余白を削除 */
  padding: 0;           /* 不要なパディングを削除 */
}

/* テーブル全体 */
.stock-table {
  border-collapse: collapse; /* 枠線を1本にまとめる */
}

/* ヘッダーとセル共通 */
.stock-table th,
.stock-table td {
  border: 1px solid #000; /* 黒1pxの線 */
  padding: 8px;
}